@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
    max-width: 1280px;
    font-family: 'PT Sans', sans-serif;
}
header, main, footer {
    max-width: 1200px;
}
a{
    text-decoration: none;
}

